.nav-link {
  color: var(--cor-escura);
  font-weight: 700;
  text-decoration: none;
  position: relative;
  padding: 0;
  transition: color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor-secundaria);
    transition: width 0.3s ease-in-out;
  }

  &:hover,
  &.active-link {
    color: var(--cor-secundaria);
    &::after {
      width: 100%;
    }
  }
}