<section class="py-12 bg-light">
  <div class="container mx-auto px-6 max-w-330">
    
    <div class="text-center mb-16">
      <h2 class="font-primary text-2xl md:text-3xl lg:text-4xl font-bold text-dark">
        Frentes de Trabalho
      </h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 mt-12">
      
      @for (front of fronts(); track front.title) {
        
        <div class="relative bg-neutral rounded-2xl p-8 pt-14 border border-light/80 shadow-[0_10px_40px_rgba(0,0,0,0.04)] transition-all duration-300 hover:-translate-y-2">
          
          <div class="absolute -top-8 left-8 flex items-center justify-center w-16 h-16 rounded-2xl bg-primary text-light text-4xl shadow-lg shadow-secondary/30">
            <i [class]="front.icon"></i>
          </div>

          <h3 class="font-primary text-2xl font-bold text-dark mb-4">
            {{ front.title }}
          </h3>
          
          <p class="text-muted text-sm md:text-base leading-relaxed">
            {{ front.description }}
          </p>

        </div>
      }

    </div>

  </div>
</section>