@import 'quill/dist/quill.snow.css';

:root {
  --cor-primaria: #027581;
  --cor-secundaria: #e74c3c;
  --cor-destaque: #ffe156;
  --cor-neutra: #f5f5dc;
  --cor-escura: #333333;
  --fonte-principal: "Zain", sans-serif;
  --fonte-secundaria: "Nunito", sans-serif;
}

body {
  font-family: var(--fonte-secundaria);
  color: var(--cor-escura);
  background-color: var(--cor-neutra);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}